#map {
    /* hight 300px !important */
    height: 300px !important;
    z-index: -1;
    

  }
.input-styling {
    background-image: url(../images/768px-577-beer-mug.svg.png)!important;
    height: 768px;
    width: 577px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}
    
#button-for-no {
    color: gold;
    background-color: rgb(56, 56, 56);
}

#button-for-yes {
    color: gold;
    background-color: rgb(56, 56, 56);
}

.is-grouped {
    /* I would love to rename this to something better, but it breaks it */
    margin-top: 80%;
    margin-left: 30%;
}
